<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">MV APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="home">Home</a>
            <a class="nav-item nav-link" href="login">Logout</a>
        </div>
    </div>
</nav>

<div *ngFor="let movie of movies " class="movie_card" id="bright">
    <div class="info_section">
        <div class="movie_header">
            <img class="locandina" [src]="movie.poster" />
            <h1>{{ movie.title }}</h1>
            <h4>{{ movie.year }}</h4>
            <h4> {{ movie.actors}}</h4>
            <p class="type">{{ movie.type }}</p>
        </div>

        <div class="movie_desc">
            <span><i class="fas fa-star"></i> {{ movie.imdbRating }} / 10</span>
            <p class="text"> {{ movie.plot }}</p>
            <a href="movie/{{ movie.imdbId }}" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>




