<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="dashboard">MV APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="addByImdbid">Add By IMDB ID</a>
                <a class="nav-item nav-link" href="addBytitle">Add TITLE</a>
                <a class="nav-item nav-link" href="daleteImdbId">Delete By IMDB ID</a>
                <a class="nav-item nav-link" href="login">Logout</a>
            </div>
        </div>
    </nav>

    <div class="custom-container">
        
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Manage <b>Movie</b></h2>
                        </div>
                    </div>
                </div>
               
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>TITLE</th>
                    <th>IMDB ID</th>
                    <th>YEAR</th>
                    <th>FULL INFO</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of moviesDto ; let i=index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.imdbId }}</td>
                    <td>{{ movie.year }}</td>
                    <td>
                        <button class="btn btn-info" data-toggle="modal" (click)="showInfo(movie.imdbId)">
                            <i class="material-icons" data-toggle="tooltip" title="Show Info">info</i>
                        </button>
                    </td>
                    <td>
                        <button class="delete" data-toggle="modal" (click)="deleteMovie(movie.imdbId)">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>

</html>